In [13]:
# import any libraries we might need (just listed a few common ones)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import DataFrame 

# I have little to no experience with what this question is asking so I will carry out my answer under the assumption that question 2 is asking me to simply just prepare a csv file to be used for data exploration.
# Note the values used to answer this question are completely ambiguous and could be changed depending on the tasks requirments due to the vague nature of this question all parameters place holders.

#if needed set some max sizes
pd.set_option('max_columns', 300)
pd.set_option('max_colwidth', 3000)

# render our figure in the notebook to make data easier to read
%matplotlib inline
plt.rcParams['figure.figsize'] = (12,8)

# Some data cleaning clean out any potential parsing errors and drop cols that have a ton of missing data
data_2017  = pd.read_csv('2017.csv',skiprows=0, low_memory=False)
half = len(data_2017) / 2
data_2017 = data_2017 .dropna(thresh=half,axis=1) # Drop any column with more than 50% missing values

In [ ]:
#check to see if data was correctly loaded now we can see the frist 20 index values of data/text
data_2017.head(20)

In [ ]:
#number of entries and data rows in our given set
data_2017.shape

In [23]:
#place data in dictionary if needed
dic_2017 = pd.read_csv('2017.csv')
print(dic_2017.shape[0])
print(dic_2017.columns.tolist())
#print current data head
dic_2017.head()

377
['NAME', 'STATUS', 'SALARY', 'PAY BASIS', 'POSITION TITLE']

,NAME,STATUS,SALARY,PAY BASIS,POSITION TITLE
0,"Alexander, Monica K.",Employee,"$56,000.00",Per Annum,EXECUTIVE ASSISTANT
1,"Ambrosini, Michael J.",Employee,"$95,000.00",Per Annum,SPECIAL ASSISTANT TO THE PRESIDENT AND DIRECTOR OF THE OFFICE OF THE CHIEF OF STAFF
2,"Amin, Stacy C.",Employee,"$140,000.00",Per Annum,SPECIAL ASSISTANT TO THE PRESIDENT AND ASSOCIATE COUNSEL TO THE PRESIDENT
3,"Andersen, Whitney N.",Employee,"$94,000.00",Per Annum,DEPUTY DIRECTOR OF OPERATIONS FOR THE WHITE HOUSE MANAGEMENT OFFICE
4,"Anderson, Alexander J.",Employee,"$77,000.00",Per Annum,DIRECTOR OF DIGITAL ENGAGEMENT

In [ ]:
#Rename data rows if needed
Rename = dic_2017.rename(columns={'n/a': 'n/a', 'n/a': 'n/a'})
Rename.head()

In [38]:
#this is totally optional 
data_2017_dtypes = pd.DataFrame(data_2017.dtypes,columns=['dtypes'])
data_2017_dtypes = data_2017_dtypes.reset_index()
data_2017_dtypes['NAME'] = data_2017_dtypes['index']
data_2017_dtypes = data_2017_dtypes[['NAME','dtypes']]
#reposition some of the data and view the index you would like to see
data_2017_dtypes['first value'] = data_2017.loc[2].values
preview = data_2017_dtypes.merge(dic_2017, on='NAME',how='right')
preview.head()

,NAME,dtypes,first value,STATUS,SALARY,PAY BASIS,POSITION TITLE
0,"Alexander, Monica K.",NaN,NaN,Employee,"$56,000.00",Per Annum,EXECUTIVE ASSISTANT
1,"Ambrosini, Michael J.",NaN,NaN,Employee,"$95,000.00",Per Annum,SPECIAL ASSISTANT TO THE PRESIDENT AND DIRECTOR OF THE OFFICE OF THE CHIEF OF STAFF
2,"Amin, Stacy C.",NaN,NaN,Employee,"$140,000.00",Per Annum,SPECIAL ASSISTANT TO THE PRESIDENT AND ASSOCIATE COUNSEL TO THE PRESIDENT
3,"Andersen, Whitney N.",NaN,NaN,Employee,"$94,000.00",Per Annum,DEPUTY DIRECTOR OF OPERATIONS FOR THE WHITE HOUSE MANAGEMENT OFFICE
4,"Anderson, Alexander J.",NaN,NaN,Employee,"$77,000.00",Per Annum,DIRECTOR OF DIGITAL ENGAGEMENT